<div class="head">
  <div class="header">
    <div class="header_top">
      <div class="header_logo">
        <h1> <a href=""> <img src="{SKIN_PATH}/images/header_logo.gif" /><ins>BOBO摄影</ins></a></h1>
        <div class="player">
          <embed width="100" height="30" wmode="transparent" type="application/x-shockwave-flash" src="music.swf"> 
        </div>
        <span class="png"></span> </div>
    </div>
    <div class="header_in">
      <div class="header_nav">
        <ul class="nav">
          <li class="nav_float n1"><a href="/" class="nav_color1">首页</a></li>
          <li class="nav_float n1"><a href="#" target="_blank" class="nav_color2">论坛</a></li>
          <li class="nav_float n1 width1"><b class="png">1</b> <a href="{$CATEGORYS[8]['url']}" class="n2"><i>{$CATEGORYS[8]['catname']}</i><span>showcase</span></a> </li>
          <li class="nav_float n1 width2"><a href="{$CATEGORYS[23]['url']}" class="n2"><i>{$CATEGORYS[23]['catname']}</i><span>Case</span></a></li>
          <li class="nav_float n1 width3"><a href="{$CATEGORYS[6]['url']}" class="n2"><i>{$CATEGORYS[6]['catname']}</i><span>news</span></a> </li>
          <li class="nav_float n1 width2"><a href="{$CATEGORYS[19]['url']}" class="n2"><i>{$CATEGORYS[19]['catname']}</i><span>Service</span></a> </li>
          <li class="nav_float n1 width2"><a href="{$CATEGORYS[24]['url']}" class="n2"><i>{$CATEGORYS[24]['catname']}</i><span>Location</span></a> </li>
          <li class="nav_float n1 width2"><a href="{$CATEGORYS[28]['url']}" class="n2"><i>{$CATEGORYS[28]['catname']}</i><span>Movie</span></a> </li>
          <li class="nav_float n1 width6"><a href="{$CATEGORYS[2]['url']}" class="n2"><i>{$CATEGORYS[2]['catname']}</i><span>about</span></a></li>
          <li class="nav_float n1 width3"><a href="{$CATEGORYS[3]['url']}" class="n2"><i>{$CATEGORYS[3]['catname']}</i><span>Contact</span></a></li>
         <li class="nav_float n1"><a href="{$CATEGORYS[5]['url']}" target="_blank" class="nav_color2">{$CATEGORYS[5]['catname']}</a></li>
          <li class="nav_float n1"><a href="#" class="nav_color1">限时抢购</a></li>
        </ul>
      </div>
    </div>